html{
	overflow: hidden;
}

body{
	background-color: #323232!important;
}

.center-vid{
	position: absolute; 
    top: 0; right: 0; 
    bottom: 0; left: 0;
    margin: auto; 
}

#videobg2{
	display:none;
}

#q2{
	display: none;
}
#q3{
	display: none;
}
#q4{
	display: none;
}
#q5{
	display: none;
}
#q6{
	display: none;
}
#q7{
	display: none;
}