@font-face {
  font-family: 'Radio';
  src: url('font/radio1875.ttf') format('truetype');
}

html{
	overflow: hidden;
	color: #78818A!important;
}

body{
	background-color: #323232!important;
	color: #78818A!important;
	font-family: 'Radio'!important;
	font-size: 20px;
}

h4{
	text-align: center;
    position: absolute;
    top: 0;
}

#button_click{
width: 80%;
    position: absolute;
    margin-left: 10%;
    margin-top: 30%;
    top: 0;
    height: 200px;
    height: 60%;
    /* width: 200px; */
    /* height: 20px; */
    background-color: transparent;
    border: none;
}

#scanveld{
	width: 70%;
	/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}


.finger-scan{
	-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    opacity: .5;
    margin-top: 40%;
    width: 80%;
    left: 10%;
    position: absolute;
}